@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* --color-background: #f8f5f0;
  --color-surface: #efe7dc;
  --color-primary: #c76b4f;
  --color-secondary: #d6b98c;
  --color-foreground: #2b211d;
  --color-muted: #7a7068;
  --color-borderline: #ddd2c4; */

  --color-background: #fafafa;
  --color-surface: #f0edea;
  --color-primary: #b05a30;
  --color-secondary: #d4815a;
  --color-foreground: #141210;
  --color-muted: #909090;
  --color-borderline: #e0dad6;
}

@layer base {
  body {
    @apply bg-background text-muted;
  }

  h1 {
    font-family: var(--font-headings);
    @apply text-5xl font-bold leading-tight md:text-7xl text-foreground;
  }

  h2 {
    font-family: var(--font-headings);
    @apply capitalize text-4xl lg:text-5xl font-bold leading-tight text-foreground;
  }

  h3 {
    @apply text-xl font-semibold text-foreground;
  }

  h4 {
    @apply text-sm uppercase tracking-[0.3em] text-primary font-semibold;
  }

  p {
    @apply leading-relaxed;
  }
}

@layer components {
  .pribtn {
    @apply bg-primary hover:bg-secondary text-white font-black px-10 py-5 uppercase tracking-widest text-sm transition-all duration-300;
  }

  .secbtn {
    @apply border border-primary text-primary hover:bg-secondary hover:text-white font-bold px-6 py-3 uppercase tracking-widest text-xs transition-all duration-300;
  }
}
